@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Lato", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
.conteiner {
  max-width: 1130px;
  padding: 0px 15px;
}

.conteiner {
  max-width: 1130px;
  padding: 0px 15px;
  margin: 0px auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wraper {
  overflow: hidden;
  min-height: 100vh;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.main-screen {
  flex: 1 0 100%;
  position: relative;
  background: transparent url("../img/main-screen/Layer 7@1X (1).png") left top no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  top: 35px;
}

.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  height: 85px;
}

.menu__list {
  display: flex;
}
.menu__list li {
  position: relative;
  padding: 0px 37.5px;
}
.menu__list li:nth-child(2) {
  padding: 0px 110px 0px 37.5px;
}
.menu__list li:nth-child(3) {
  padding: 0px 37.5px 0px 110px;
}
.menu__list li:after {
  content: " ";
  width: 2px;
  height: 2px;
  background-color: #4D4959;
  position: absolute;
  border-radius: 50%;
  right: 0;
  top: 50%;
  margin: -1.5px 0px 0px 0px;
}
.menu__list li:nth-child(2):after, .menu__list li:last-child:after {
  display: none;
}

.menu__link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #4D4959;
  letter-spacing: 2.6px;
}

.header__logo {
  position: absolute;
  text-align: center;
  top: 0;
}
@media (max-width: 767px) {
  .header{
    top: 15px;
  }
  .menu__body{
    position: fixed;
    height: -100%;
    width: 100%;
    left: 0;
    top: -100%;
    background-color: #4d4959;
    padding-top: 150px;
  }
  .menu__body.active{
    top: 0;
  }
  .menu__list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__list li{
    padding: 0;
    padding-bottom: 35px;
  }
  .menu__list li:nth-child(2){
    padding: 0;
    padding-bottom: 35px;
  }
  .menu__list li:nth-child(3){
    padding: 0;
    padding-bottom: 35px;
  }
  .menu__link{
    color: #fff;
    font-size: 20px;
  }
  .menu-icon{
    display: block;
    position: absolute;
    top: 33px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .menu-icon span{
    animation: 0.3s, 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .menu-icon span:first-child{
    top: 0;
  }
  .menu-icon span:last-child{
    top:auto;
    bottom: 0;
  }
  .menu-icon.active span{
    transform: scale(0);
  }
  .menu-icon.active span:first-child{
    transform: rotate(-45deg);
    top: 8px;
  }
  .menu-icon.active span:first-child{
    transform: rotate(45deg);
    top: 8px;
  }
}
.generation {
  background-color: #F7F7F7;
  padding: 120px 0px;
}
@media (max-width: 900px) {
  .generation {
    padding: 80px 0px;
  }
}
@media (max-width: 600px) {
  .generation {
    padding: 30px 0px;
  }
}

.block {
  text-align: center;
}

.block__icon {
  margin: 0px 0px 30px 0px;
}

.block__title {
  color: #353738;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin: 0px 0px 18px 0px;
}

.block__text {
  color: #848789;
  font-size: 18px;
  line-height: 34px;
}

.brands__row {
  display: flex;
}

.brands__column {
  flex: 0 1 33.333%;
}

.brands__column_b {
  flex: 0 1 66.667%;
}

.item {
  height: 100%;
  display: block;
  position: relative;
}
.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
  animation: 0.3s, 0s;
}

.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(100, 194, 158, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
.item__img_1{
  background: transparent url("../img/work/Layer 10@1X (4).png") left top no-repeat;
}
.brands__img_1{
  background: transparent url("../img/work/Layer 11@1X (1).png") left top no-repeat;
}
.item__img_2 {
  background: transparent url("../img/work/Layer 12@1X.png") left top no-repeat;
}

.brands__img_2 {
  background: transparent url("../img/work/Layer 13@1X (1).png") left top no-repeat;
}

.item__img_3 {
  background: transparent url("../img/work/Layer 15@1X.png") left top no-repeat;
}

.item__img_4 {
  background: transparent url("../img/work/Layer 14@1X (1).png") left top no-repeat;
}

.brands__img_3 {
  background: transparent url("../img/work/Layer 16@1X.png") left top no-repeat;
}
.shop__item_img1{
  background: transparent url("../img/shop/Layer 19@1X.png") left top no-repeat;
}
.shop__item_img2{
  background: transparent url("../img/shop/Layer 21@1X.png") left top no-repeat;
}
.shop__item_img3{
  background: transparent url("../img/shop/Img 03@1X.png") left top no-repeat;
}
.shop__item_img4{
  background: transparent url("../img/shop/Img 04@1X.png") left top no-repeat;
}
.shop__item_img5{
  background: transparent url("../img/shop/Img 05@1X.png") left top no-repeat;
}
.shop__item_img6{
  background: transparent url("../img/shop/Layer 23@1X.png") left top no-repeat;
}
.shop__item_img7{
  background: transparent url("../img/shop/Img 07@1X.png") left top no-repeat;
}
.shop__item_img8{
  background: transparent url("../img/shop/Img 08@1X.png") left top no-repeat;
}
.item__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.brands__content {
  margin: 70px 65px 55px 65px;
  position: relative;
}
.brands__content:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0px 0px 0px 10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

.block__text_j {
  text-align: justify;
  transform: 16px;
  line-height: 30px;
}
.block__text_j:after {
  content: " ";
  display: block;
  margin: 35px auto 0px auto;
  width: 50px;
  height: 1px;
  background-color: #D7D7D7;
  z-index: 2;
}

.brands__img {
  padding-top: 37.51%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 1500px) {
  .brands .brands__content {
    margin: 40px 35px 30px 35px;
  }
}
@media (max-width: 1100px) {
  .brands .brands__row {
    flex-direction: column;
  }
}
@media (max-width: 1100px) {
  .brands .brands__last .brands__column:nth-child(1) {
    order: 2;
  }
}
@media (max-width: 1100px) {
  .brands .brands__last .brands__column:nth-child(2) {
    order: 1;
  }
}
@media (max-width: 1100px) {
  .brands .brands__last .brands__column:nth-child(3) {
    order: 3;
  }
}
@media (max-width: 1500px) {
  .block .block__text .block__text_j .block__text_j:after {
    margin: 15px auto 0px auto;
  }
}

@media (max-width: 1100px) {
  .item {
    height: auto;
    padding: 0px 0px 70% 0px;
  }
}

.brands__rev .brands__column {
  order: 1;
}
.brands__rev .brands__column_b {
  order: 2;
}
.slyder {
  background-color: #F7F7F7;
  padding: 120px 0px 160px 0px;
}
.slyder__item {
  text-align: center;
}
.slyder__icon {
  margin-bottom: 35px;
}
.slyder__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  color: #353738;
}
.slyder__title span{
  color: #96999A;
}
.slyder__text {
  text-align: center;
  color: #848789;
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
}
.shop__body {
  display: flex;
}
.shop__column {
  flex: 0 1 16.666%;
}
.shop__column_b {
  flex: 0 1 33.333%;
}
.block-shop {
  height: 100%;
}
.block-shop__row {
  display: flex;
}
.block-shop__column {
  flex: 0 1 50%;
}
.block-shop__item {
  padding-bottom: 50%;
  height: auto;
}
.block-shop__item_b {
  padding-bottom: 200.3%;
}
.block-shop__item_l{
  padding-bottom: 100%;
}
.item__logo span{
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 1100px) {
  .shop__body{
    flex-wrap: wrap;
  }
  .shop__column{
    flex: 0 1 50%;
  }
  .shop__column:first-child{
    flex: 1 1 100%;
  }
  .shop__column:last-child{
    flex: 1 1 100%;
  }
  .shop__bth{
    padding: 0 30px;
  }
  .shop__footer{
    padding: 50px 0;
  }
}
.shop__footer {
  padding: 75px 0px;
  background-color: #282F35;
  text-align: center;
  color: #94979A;
}
.shop__btn {
  display: inline-block;
  color: #fff;
  padding: 0 60px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  height: 50px;
  text-transform: uppercase;
  line-height: 48px;
  border: 1px solid #94979A;
}
.subscribe {}
.subscribe__body {
  padding: 110px 0;
  max-width: 534px;
  margin: 0 auto;
  text-align: center;
}
.subscribe__logo {
  padding-bottom: 39px;

}
.subscribe__lable {
  font-size: 24px;
  font-style: italic;
  color: #848789;
  margin-bottom: 35px;
}
.subscribe__form {
  display: flex;
}
.subscribe__input {
  flex: 1 1 auto;
  margin-right: 8px;
}
.input {
  width: 100%;
  height: 69px;
  border: 1px solid #D3D7D9;
  background-color: #fff;
  padding: 0 28px;
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
  color: #848789;
}
.input:focus{
  color: #333;
  font-style: normal;
}
.subscribe__button {
  flex: 0 0 126px;
}
.subscribe__btn {
  width: 100%;
  height: 70px;
  line-height: 69px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  background-color: #64C29E;
}
@media (max-width: 750px) {
  .subscribe__body{
    padding: 50px 0;
  }
}
@media (max-width: 500px) {
  .subscribe__form{
    display: block;
  }
  .subscribe__input{
    padding-bottom: 8px;
  }
}
.footer {
  background-color: #F7F7F7;
}
.footer__row {
  display: flex;
  padding: 110px 0;
  align-items: center;
}
.footer__column {
  flex: 0 1 33.333%;
}
.footer__address {
  color: #848789;
  font-size: 14px;
  line-height: 18px;
}
.footer__address p:first-child{
  font-weight: 700;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__link {
  margin: 0 7.5px;
}
.dev {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dev__text {
  color: #848789;
  font-size: 14px;
  font-style: italic;
  padding-right: 9px;
}
@media (max-width: 1100px) {
  .footer__row{
    padding: 50px 0;
  }
}
@media (max-width: 600px) {
  .footer__row{
    padding: 30px 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .footer__social{
    padding: 15px 0;
  }
}